@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply transition-colors duration-300;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .delay-700 {
    animation-delay: 700ms;
  }

  .logo-font {
    font-family: 'Source Code Pro', cursive;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size:x-large;
  }
}
